<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>menu</mat-toolbar>
    <mat-nav-list>
      <mat-list>
        <mat-list-item routerLink="/home"> Home </mat-list-item>
        <mat-list-item routerLink="/Leads"> Leads </mat-list-item>
        <mat-list-item> Campaigns </mat-list-item>
        <mat-list-item> Contracts </mat-list-item>
        <mat-list-item> Operations </mat-list-item>
        <mat-list-item> Reports </mat-list-item>
        <mat-list-item routerLink="/user"> Administration </mat-list-item>
       </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">
         <img src="../../assets/images/logo.svg" />
        </mat-icon>
      </button>
      <span>

      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
