<mat-tab-group>
  <mat-tab label="Users">
    <ng-template matTabContent>
      <h1>Users Managment</h1>
      <app-r-table [dataSource]="ELEMENT_DATA" [displayedColumns]="columns"></app-r-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Offices">
    <ng-template matTabContent>
      Content 2 - Loaded
    </ng-template>
  </mat-tab>
  <mat-tab label="Markets">
    <ng-template matTabContent>
      Content 3 - Loaded
    </ng-template>
  </mat-tab>
</mat-tab-group>
