

<!-- <mat-drawer-container class="containerWrap">
  <mat-drawer mode="side" opened>
      <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
<app-side-nav>
 <router-outlet></router-outlet>
</app-side-nav>
