<div fxLayout= “row” class="container" fxFill="#f5f5f5" fxLayout.xs="column">
  <section class="logo-wrapper" fxFlex="50%" fxLayout fxFill="#f5f5f5" fxLayoutAlign="space-around center">
    <img src="../../../assets/images/home.svg" />
  </section>
  <section class="login-wrapper" fxFlex="50%"  fxLayoutAlign="space-around center">
    <app-sing-in></app-sing-in>
    </section>
</div>

