@import '../../../assets/globalStyle/variable.scss';

section {
  height:100vh;
  &.logo-wrapper {
    background: $white-grey;
    padding: 30px 20px;
   }
}

.login-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
}
