<section class="loginform" fxLayout="column">
  <h2>Get started</h2>
  <form [formGroup]="logInForm">
    <p>
      <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error>
        Username is required!
      </mat-error>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>
        Password is required!
      </mat-error>
    </mat-form-field>
    </p>
      <footer>
        <button mat-button color="primary" (click)="onSubmit()">SIGN IN</button>
      </footer>
    </form>
</section>

