@import '../../../assets/globalStyle/variable.scss';

.loginform{
  width: 350px;
  padding:100px 10px;
  h2{
    font:700 2rem $openSans;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  mat-form-field {
    width:100%;
    padding:0 0.75em;
  }
  footer {
    button {
      width:100%;
      background-color:$primary;
      color:$white;
    }
  }
}

::ng-deep.mat-form-field-underline {
  display: none;
}

