<div class="container" fxLayout="row" fxLayout.sm="column">
  <div fxFlex="80%" >
      <!-- <p>Flex layout!!!1</p>
      <p>Flex layout!!!2</p>
      <p>Flex layout!!!3</p>
      <p>Flex layout!!!4</p>
      <p>Flex layout!!!5</p> -->
      <div fxFlex="80%">
        dsadad
      </div>
      <div fxFlex="20%">
        ffdsas
      </div>
  </div>
  <div fxFlex="20%">
    ....
    <p>Flex layout!!!</p>
  </div>
</div>

